*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Poppins', sans-serif;
}
footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #9b7abb;
}

img{
    height: 120px;
    width: 120px;
    margin-top: 40px;
    margin: 10px;
}
.icon-fb {

    align-items: center;
    display: flex;
    padding-top: -10px;
}

.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFF;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:after{
    position: absolute;
    content: '';
    width: 15%;
    height: 2px;
    background: #f1c043;
    top: -10px;
}
.box .content:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background:#f1c043;
    top: -10px;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    width: 40px;
    height: 40px;
    background: #f1c043;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #f1c043;
}
.left .content p{
    text-align: justify;
    color: #FFF;
}
.center .content .fas{
    font-size: 23px;
    background: #f1c043;
    width: 45px;
    height: 45px ;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .fas:hover{
    background: #f1c043;
}
.center .content .text{
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
    color: #FFF;
}
.center .content .phone{
    margin: 10px 0;
}
.center .content .msg{
    margin-top: 10px;
}
.right form input, .right form textarea{
    width: 100%;
    font-size: 17px;
    background: #efe7e7;
    padding-left: 10px;
    border: 1px solid #fff7f7;
}
.right form input{
    height: 35px;
}
.right form input:focus,
.right form textarea:focus{
    outline-color: #efb116;
}
.right form .text{
    font-size: 17px;
    margin-bottom: 2px;
    color: #FFF;
}
.right form .btn{
    margin-top: 10px;
}
.right form .btn button{
    height: 40px;
    width: 100%;
    background: #f1c043;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}
.right form .btn button:hover{
    background: #efb116;
}
.bottom .center{
    padding: 5px;
    font-size: 15px;
    background: #9b7abb;;
    text-align: center;
}
.bottom .center span{
    color: #f1c043;
}
.bottom .center a{
    color: #efb116;
    text-decoration: none;
}
@media screen and (max-width: 90px){
    footer{
        position: fixed;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
  