@font-face {
  font-family:'Oceanwide';
  src: url('fonts/California Type Foundry - Oceanwide-Semibold.ttf') format('truetype'), url('fonts/California Type Foundry - Oceanwide-Semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'Oceanwide2';
  src: url('fonts/California Type Foundry - Oceanwide-SemiboldOblique.ttf') format('truetype'), url('fonts/California Type Foundry - Oceanwide-SemiboldOblique.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oceanwide';
  background-color: #5D0A90;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background: #9B7ABB;
}

h3{
  margin-top: 10px;
  font-size: 20px;
}

.logo img{
    width: 80px;
}

.logo a {
  display: block;
  text-decoration: none;
}

.search input {
  padding: 1px;
  border-radius: 15px;
  background-color: #F1C043;
  border: none;
}
.iconify{
  width: 60px;
}
.iconify2{
  width: 150px;
}
#MenuItems {
  display: flex;
  padding: 0 45px;
  justify-content: space-between;
}
#MenuItems a {
  text-decoration: none;
  padding: 0 20px;
  color:  #F1C043;
  font-size: 18px;
  font-weight: bolder;
  list-style: none;
}

#MenuItems a:hover {
  color: #FFF;
}

.search input:focus {
  outline: none;
}

a {
  list-style: none;
  padding: 10px;
}
ol { 
  counter-reset: item;
  list-style-type: none;
}

li { 
  display: block; 
}

.search,
input {
  padding: 5px;
  border-radius: 15px;
  background-color: #F1C043;
  border: none;
  color: #FFF !important;
}

.search {
  display: flex;
  align-items: center;
}

.iconify.iconify--gridicons:hover, .iconify.iconify--mdi:hover {
  color: #FFF !important;
}

@media (max-width: 768px) {
  .logo img {
    width: 60px;
    padding-bottom: 20px;
  }

  header {
    flex-direction: column;
  }

  #MenuItems {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .login {
    margin-top: 10px;
  }
  .carrinho {
    margin-top: 10px;
  }
  .carrinho a:hover {
    color: #FFF;
  }
}

body {
    background-color: #5D0A90;
}

.sobre {
    color: white;
    font-size: 20px;
    padding: 10px;
}

.loja {
    color: #F1C043;
    font-size: 18px;
    padding: 10px;
}

.contato {
    color: #F1C043;
    justify-content: end;
    flex-direction: row;
    padding-top: 30px;
    font-size: 22px;
}

.principais {
    color: #F1C043;
    font-size: 25px;
}
.inferior {
    display: flex;
}
.lateral {
    margin-left: 50px;
    display: flex;
flex-direction: column;
justify-content: space-between;
}
.we {
    font-style: italic;
    color: #FFF2BC;
}
.pets {
    color: #F1C043;
}
.tit{
    display: flex;
    align-items: center;
    font-size: 165px;
}
.somos{
    margin-left: 20px;
    font-size: 30px;
    color: #fff;
}

/* footer */
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #9b7abb;
}

.footerimg{
  height: 120px;
  width: 120px;
  margin-top: 40px;
  margin: 10px;
}
.icon-fb {

  align-items: center;
  display: flex;
  padding-top: -10px;
}

.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFF;
  margin-top: 20px
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
  margin-top: 20px
}
.box .content:after{
  position: absolute;
  content: '';
  width: 15%;
  height: 2px;
  background: #f1c043;
  top: -10px;
  /* margin-top: 20px */
}
.box .content:before{
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  background:#f1c043;
  top: -10px;
  /* margin-top: 20px */
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  width: 40px;
  height: 40px;
  background: #f1c043;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f1c043;
}
.left .content p{
  text-align: justify;
  color: #FFF;
}
.center .content .fas{
  font-size: 23px;
  background: #f1c043;
  width: 45px;
  height: 45px ;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f1c043;
}
.center .content .text{
  font-size: 17px;
  font-weight: 500;
  padding-left: 10px;
  color: #FFF;
}
.center .content .phone{
  margin: 10px 0;
}
.center .content .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 17px;
  background: #efe7e7;
  padding-left: 10px;
  border: 1px solid #fff7f7;
}
.right form input{
  height: 35px;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #efb116;
}
.right form .text{
  font-size: 17px;
  margin-bottom: 2px;
  color: #FFF;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  background: #f1c043;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #efb116;
}
.bottom .center{
  padding: 5px;
  font-size: 15px;
  background: #9b7abb;;
  text-align: center;
}
.bottom .center span{
  color: #f1c043;
}
.bottom .center a{
  color: #FFF2BC;
  text-decoration: none;
}
@media screen and (max-width: 90px){
  footer{
      position: fixed;
      bottom: 0px;
  }
  .main-content{
      flex-wrap: wrap;
      flex-direction: column;
  }
  .main-content .box{
      margin: 5px 0;
  }
}