* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: "Poppins", sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #9B7ABB;
}

.logo img{
    width: 80px;
}
.search input {
  padding: 5px;
  border-radius: 15px;
  background-color: #F1C043;
  border: none;
}
.iconify{
  width: 60px;
}
#MenuItems {
  display: flex;
  padding: 0 45px;
  justify-content: space-between;
}
#MenuItems a {
  text-decoration: none;
  padding: 0 20px;
  color:  #F1C043;
  font-size: 18px;
  font-weight: bolder;
  list-style: none;
}
a {
  list-style: none;
}
ol { 
  counter-reset: item;
  list-style-type: none;
}

li { 
  display: block; 
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-1 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-1 img{
  width: 10%;

}
.col-1:hover {
  transform: translateY(-5px);
}
.col-1 p {
  font-size: 14px;

}
.body {
  background-color: #5D0A90;
}

