* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: 'Oceanwide';
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  nav {
    flex: 1;
    text-align: right;
  }
  nav ul {
    display: inline-block;
    list-style-type: none;
  }
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  nav ul li a {
    text-decoration: none;
    padding: 5px;
    color: #000000cc;
  }
  nav ul li a:hover{
    background-color: #dbc200;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    transition: 0.5s;
  }
  
  a {
    text-decoration:dotted;
    color: #c5d608;
  }
  p {
    color: #c5bc0a;
  }
  
  .header {
    background: radial-gradient(#5d15a1, #5d1a7a);
  }
  
  .header row {
    margin-top: 70px;
  } 
